{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            "chrome >= 25",
            "firefox >= 48",
            "ie >= 9",
            "edge >= 14",
            "safari >= 7",
            "opera >= 40",
            "op_mini >= 18",
            "Android >= 7",
            "and_chr >= 53",
            "and_ff >= 49",
            "ios_saf >= 10"
          ]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "fileName": false
      }
    ]
  ]
}
